# Context

This dataset is based on the DASL challenge 4 consisting of movies.

# Objective

The purpose of this challenge is to clean the dataset following this outline:
1. Remove duplicate values from the movies column
2. Clean the year column to get the appropriate year
3. Get the first genre from the genre column
4. Clean the rating column
5. Get the director name and put it in a different column and also put the stars names in a separate column
6. Clean the votes column
7. Clean the runtime column
8. Clean the gross column

# Data description

The data contains the different data related to movies. The detailed data dictionary is given below. Please take note that this data dictionary was created based on our research in the movie industry

# Data dictionary

- movies: Name or Title of the movie

- year: Movie release date

- genre: Genre or category of the movie

- rating: rating of the movie out of 10

- one-line: Brief summary of the movie 

- stars: Name of lead performers that play significant roles in the movie

- votes: The number of votes received by the movie. It indicates the level of popularity or engagement the movie has generated among viewers.

- Runtime: Duration of the movie measured in minutes

- Gross: Gross earnings or revenue generated by the movie.

In [1]:
import pandas as pd
import re

In [2]:
def wrangle(filepath):
    df = pd.read_csv(filepath)
    
    return df

df = wrangle('movies.csv')
df

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime,Gross
0,Blood Red Sky,(2021),"\nAction, Horror, Thriller",6.1,\nA woman with a mysterious illness is forced ...,\n Director:\nPeter Thorwarth\n| \n Star...,"21,062",121.0,NaN
1,Masters of the Universe: Revelation,(2021– ),"\nAnimation, Action, Adventure",5.0,\nThe war for Eternia begins again in what may...,"\n \n Stars:\nChris Wood, \nSara...","17,870",25.0,NaN
2,The Walking Dead,(2010–2022),"\nDrama, Horror, Thriller",8.2,\nSheriff Deputy Rick Grimes wakes up from a c...,"\n \n Stars:\nAndrew Lincoln, \n...","885,805",44.0,NaN
3,Rick and Morty,(2013– ),"\nAnimation, Adventure, Comedy",9.2,\nAn animated series that follows the exploits...,"\n \n Stars:\nJustin Roiland, \n...","414,849",23.0,NaN
4,Army of Thieves,(2021),"\nAction, Crime, Horror",NaN,"\nA prequel, set before the events of Army of ...",\n Director:\nMatthias Schweighöfer\n| \n ...,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
9994,The Imperfects,(2021– ),"\nAdventure, Drama, Fantasy",NaN,\nAdd a Plot\n,\n \n Stars:\nMorgan Taylor Camp...,NaN,NaN,NaN
9995,Arcane,(2021– ),"\nAnimation, Action, Adventure",NaN,\nAdd a Plot\n,\n,NaN,NaN,NaN
9996,Heart of Invictus,(2022– ),"\nDocumentary, Sport",NaN,\nAdd a Plot\n,\n Director:\nOrlando von Einsiedel\n| \n ...,NaN,NaN,NaN
9997,The Imperfects,(2021– ),"\nAdventure, Drama, Fantasy",NaN,\nAdd a Plot\n,\n Director:\nJovanka Vuckovic\n| \n Sta...,NaN,NaN,NaN
9998,The Imperfects,(2021– ),"\nAdventure, Drama, Fantasy",NaN,\nAdd a Plot\n,\n Director:\nJovanka Vuckovic\n| \n Sta...,NaN,NaN,NaN

In [3]:
# Convert column names to lowercase
df.columns = df.columns.str.lower()

In [4]:
# Know the datatypes of the columns

df.dtypes

movies       object
year         object
genre        object
rating      float64
one-line     object
stars        object
votes        object
runtime     float64
gross        object
dtype: object

#### Notice that the "year", "votes" and "gross" columns are in object datatypes instead of numerical datatypes. We'll be transforming them in the course of this project inaddition to other tasks. We won't be changing the "year" column datatype though because its best as a categorical variable. However, we'll be doing some changes to it in the course of this project.

## 1. Remove duplicate values from the movies column

In [5]:
df.drop_duplicates(subset='movies', inplace=True)

In [6]:
df

,movies,year,genre,rating,one-line,stars,votes,runtime,gross
0,Blood Red Sky,(2021),"\nAction, Horror, Thriller",6.1,\nA woman with a mysterious illness is forced ...,\n Director:\nPeter Thorwarth\n| \n Star...,"21,062",121.0,NaN
1,Masters of the Universe: Revelation,(2021– ),"\nAnimation, Action, Adventure",5.0,\nThe war for Eternia begins again in what may...,"\n \n Stars:\nChris Wood, \nSara...","17,870",25.0,NaN
2,The Walking Dead,(2010–2022),"\nDrama, Horror, Thriller",8.2,\nSheriff Deputy Rick Grimes wakes up from a c...,"\n \n Stars:\nAndrew Lincoln, \n...","885,805",44.0,NaN
3,Rick and Morty,(2013– ),"\nAnimation, Adventure, Comedy",9.2,\nAn animated series that follows the exploits...,"\n \n Stars:\nJustin Roiland, \n...","414,849",23.0,NaN
4,Army of Thieves,(2021),"\nAction, Crime, Horror",NaN,"\nA prequel, set before the events of Army of ...",\n Director:\nMatthias Schweighöfer\n| \n ...,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
9935,The Imperfects,(2021– ),"\nAdventure, Drama, Fantasy",NaN,\nAdd a Plot\n,\n \n Stars:\nMorgan Taylor Camp...,NaN,NaN,NaN
9964,AlRawabi School for Girls,(2021),\nDrama,NaN,\nAdd a Plot\n,\n Director:\nTima Shomali\n| \n Stars:\...,NaN,NaN,NaN
9993,Totenfrau,(2022– ),"\nDrama, Thriller",NaN,\nAdd a Plot\n,\n Director:\nNicolai Rohde\n| \n Stars:...,NaN,NaN,NaN
9995,Arcane,(2021– ),"\nAnimation, Action, Adventure",NaN,\nAdd a Plot\n,\n,NaN,NaN,NaN
9996,Heart of Invictus,(2022– ),"\nDocumentary, Sport",NaN,\nAdd a Plot\n,\n Director:\nOrlando von Einsiedel\n| \n ...,NaN,NaN,NaN

#### The number of rows have been cut down from 9999 to 6817 after removing duplicates

## 2. Clean the year column to get the appropriate year

#### Looking at the year column, some movies have release dates that span across multiple years. An example is "The walking dead" that has release several movie episodes at different years. To ensure that this column can be analyzed. We would have to split the year columns into two so that the movies with ranges can also be accommodates. Hence, there'll be two new columns, "release_year_start" and "release_year_end". For movies that have one release date, the same year will appear in both columns.

In [7]:
# Remove parentheses from the year column
df['year'] = df['year'].str.replace(r'[\(\)]', '')

C:\Users\USER\AppData\Local\Temp\ipykernel_848\2483142449.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df['year'] = df['year'].str.replace(r'[\(\)]', '')

In [8]:
# check the range of values in the year column

distinct_values = df['year'].unique()
print(distinct_values)

['2021' '2021– ' '2010–2022' '2013– ' '2020– ' '2006–2013' '2019– '
 '2016–2021' '2011– ' '2005– ' '2008–2013' '2017– ' '2017–2021' '2016– '
 '1994–2004' '2014– ' '2013–2020' '2015– ' '2005–2020' '2013–2022'
 '2003– ' '2009–2020' 'I 2018– ' '2010–2015' '2011–2019' '2015–2020'
 '2005–2014' '2009–2015' '2008–2014' '2016–2018' '2009–2017' '2020'
 '2018–2021' '2017–2020' '1987–1994' '2018– ' '2012– ' '2014–2020'
 '2011–2018' '2005–2017' '2017' '2007–2015' '2000–2007' 'II 2007– ' '1993'
 '1999–2022' '2015–2018' '2014–2019' '2016' '2012–2020' '2013–2019'
 '2007–2012' '2011–2020' '2010–2017' '2000–2015' '2015–2021' '2001'
 '1997– ' '2011–2017' '1993–1999' '1989–1998' '2010–2013' '2010–2020'
 '2003–2019' 'I 2019' '2017–2019' '1975' '2005–2008' '1995–2001' '2006'
 '2015–2017' '2008–2020' '1984–1996' '2010– ' '2014' '2000' '2013–2018'
 '2009–2016' '2016–2020' '2021 TV Special' '2003' '1998–2003' 'I 2017'
 '1966–1969' '2009– ' '2019' '1990–1991' '2012' '1995' '2020–2021'
 '2013–2017' '2015' '2019–2020' '2017–2018' '2013–2015' '2012–2017'
 'I 2013–2016' '2002' 'I 2020' 'III 2021' '2018' 'II 2016' '1976' '1978'
 '2016–2019' '2009–2014' '2022' '2011–2014' '2007–2013' '2006–2007'
 '2002–2007' '2014–2017' '2010–2019' '2008– ' '2012–2019' '2014–2016'
 '2009–2012' '2018–2020' '2001–2005' '2011–2015' '2014–2018' '2015–2019'
 '1982–1993' '1998– ' '1968' '2010–2018' '2014–2021' '2007–2010' '2011'
 '2013–2021' '1990–1996' '2004' '2007–2014' '1996–2001' '2008' '1999–2000'
 '2012–2014' 'I 2013' '2012–2018' '2018–2019' '2009–2013' '1971' '2004– '
 '1989' '1998' '2001–2018' '1987–1995' 'I 2014' '1998–2020' 'I 2015'
 '1997' '2004–2013' '2002– ' '2010' 'I 2016' 'II 2017– ' 'I 2018' 'I 2021'
 '2004–2012' '2019–2021' 'IV 2020' '2006–2010' '2013' '2006–2012' '1996'
 '1994–2000' 'II 2020' '1980' 'I 2011' '1995–1996' '2016–2017' '1993–1996'
 'II 2019– ' '2009' '1962' '2022– ' 'I 2012' '1984' '2011–2016'
 '2009–2019' 'II 2020– ' '2006–2021' 'I 2010' '2012–2015' 'I 2013–2014'
 '1960' '1988' '2007' '1987' '2010–2011' '1969' '2006–2011' 'II 2019'
 '1961' '1979' 'II 2022' '2014–2015' '1956' '2013–2016' 'III 2018' '2005'
 'II 2012– ' 'II 2013' '1983' '2002–2019' '2013 TV Movie' 'II 2015'
 'I 2012–2015' '1975–1979' '1990' nan 'II 2018' 'IV 2021' '2015–2016'
 '1995–1998' '1986' '2012–2013' '1966' '2011–2012' '2011–2021'
 '2016 Video' '2017 TV Movie' '2009–2011' '2004–2018' '1967' '1984– '
 '1994' '2003–2006' '1974' '2000–2004' '1984–2021' 'I' 'II 2021'
 '1994–1999' 'III' '1992' '1969–1974' '2012–2016' '2013–2014' 'I 2008'
 '1958' '2008–2009' 'II 2004' 'III 2019' '2006–2009' '2011–2013'
 '2007–2008' '1988–1999' '2010–2012' '2010–2014' 'II 2012' '1932'
 '2014 TV Movie' '1941' '2006– ' '1992–1995' 'II 2017' '1991'
 '2016 TV Special' '2020 TV Movie' '2008–2010' 'II' '2020 Video' '1999– '
 '1950' '2020 TV Special' '1992–2014' '2002–2005' '2013 TV Special'
 'I 2021– ' '1999' '2016 TV Movie' 'XII' 'VII' '2021 TV Movie' '1983– '
 '1996 Video' '1993 TV Movie' '2018 TV Movie' '2005–2009' '2001–2002'
 '2015 TV Movie' 'I 2020– ' '2011 Video' '2008 Video' '2012 Video'
 'II 2014' '2019 Video' '1981–1989' 'IV 2016' 'III 2016' '2019 TV Movie'
 '1952' '2007 Video' '2000–2014' '1992– ' '1957' '2003–2007' 'III 2015'
 'IV' '2008–2017' '2008–2019' '1998–2000' 'I 2004' '2007–2016'
 '2017 TV Special' '2009 TV Movie' '2013 Video' '2017 Video' '1994–1996'
 'IV 2018' '2007– ' '1954' '2012 TV Movie' '1995– ' '1982' '1955'
 '2014 TV Short' 'I 2022– ' 'I 2019–2020' '1975 TV Movie'
 '2019 TV Special' '2015 TV Special' '2015 TV Short' '2018 TV Special'
 '1948' '2014 Video' 'VI 2014' '2003–2013' '2021 Video' '1947' '2001– '
 'II 2021– ' '1946' '1997–2000' 'III 2020' 'I 2019– ' '1993– ' '1977'
 'I 2009' 'V' '2023' 'TV Special' 'II 2011' 'TV Movie' '1945' '2015 Video'
 'III 2010' '2009 Video' '1998–2002' '2008 TV Movie' '2019 TV Short'
 '2004 Video' 'II 1998' '2014 TV Special' '1953' '1985' 'VIII' '1973'
 '2012 TV Special' 'V 2016' '1972' 'V 2018' 'II 2010' '2021 TV Short'
 'VI 2019' 'I 2005' '1965' '2010–2016' 'V 2010' '2005–2013'
 '2006 TV Special' '2006 Video' '2011 TV Movie' '1988 TV Movie' 'XXIII'
 '2011 TV Special' '2020 TV Short' 'VI 2018' '2008 TV Special' '1998–1999'
 'I 2015– ' 'III 2012' 'VI' '2010 TV Special' 'III 2017' '1993 TV Special'
 '2004–2005' '1992 Video' '1989 TV Special' 'III 2014' '1966 TV Special'
 '1999 TV Movie' '1987 TV Special' '1944' '1998 TV Special'
 '2022 TV Special' '1989 Video' '1991 TV Special' 'IV 2014' '2005 Video'
 '2007 TV Special' '1965 TV Special' '1990 TV Special' '2001 TV Special'
 'IX' 'II 2016– ' 'XIV 2017' '2009–2010' 'XIII' 'II 2012–2019' '1933'
 'II 2009' '2010 Video' '2009 TV Special' 'XI' '1938' '2003 TV Special'
 'Video' '2001 TV Movie' 'VI 2016' 'III 2011' '2006 TV Movie'
 '2007 TV Movie' '2017 TV Short' '2018 Video' '2000 Video' '1995 Video'
 '2003 Video' 'II 2016 TV Movie' '1998 Video' '2005 TV Special'
 '2004–2009' '2018 Video Game' '1988– ' '1985– ']

#### Notice how these values apear in numerous ways. There's a whole lot of cleaning to be done. For the movies that end with hypen (-), the movie is still ongoing and it's most likely to be released in the future. Hence, the release_year_end for this will state 'ongoing'. This is important because when analyzing this data, the analyst needs to be aware of ongoing movies.

In [9]:
# create the two new columns: release_year_start and release_year_end 

df['release_year_start'] = df['year']
df['release_year_end'] = df['year']

#### Both new columns are still in object datatypes so we'll be taking the first four characters after extracting the numerical figures for the release_year_start and the last four characters for the release_year_end columns  after extracting the numerical figures  while also removing trailing and leading spaces

In [10]:
# Extract the years using regular expressions
df['release_year_start'] = df['release_year_start'].str.extract(r'(\d{4}(?:–\d{4})?)')

# Remove leading and trailing spaces
df['release_year_start'] = df['release_year_start'].str.strip()

# Show distinct values to confirm they have been extracted
distinct_values = df['release_year_start'].unique()
print(distinct_values)

['2021' '2010–2022' '2013' '2020' '2006–2013' '2019' '2016–2021' '2011'
 '2005' '2008–2013' '2017' '2017–2021' '2016' '1994–2004' '2014'
 '2013–2020' '2015' '2005–2020' '2013–2022' '2003' '2009–2020' '2018'
 '2010–2015' '2011–2019' '2015–2020' '2005–2014' '2009–2015' '2008–2014'
 '2016–2018' '2009–2017' '2018–2021' '2017–2020' '1987–1994' '2012'
 '2014–2020' '2011–2018' '2005–2017' '2007–2015' '2000–2007' '2007' '1993'
 '1999–2022' '2015–2018' '2014–2019' '2012–2020' '2013–2019' '2007–2012'
 '2011–2020' '2010–2017' '2000–2015' '2015–2021' '2001' '1997' '2011–2017'
 '1993–1999' '1989–1998' '2010–2013' '2010–2020' '2003–2019' '2017–2019'
 '1975' '2005–2008' '1995–2001' '2006' '2015–2017' '2008–2020' '1984–1996'
 '2010' '2000' '2013–2018' '2009–2016' '2016–2020' '1998–2003' '1966–1969'
 '2009' '1990–1991' '1995' '2020–2021' '2013–2017' '2019–2020' '2017–2018'
 '2013–2015' '2012–2017' '2013–2016' '2002' '1976' '1978' '2016–2019'
 '2009–2014' '2022' '2011–2014' '2007–2013' '2006–2007' '2002–2007'
 '2014–2017' '2010–2019' '2008' '2012–2019' '2014–2016' '2009–2012'
 '2018–2020' '2001–2005' '2011–2015' '2014–2018' '2015–2019' '1982–1993'
 '1998' '1968' '2010–2018' '2014–2021' '2007–2010' '2013–2021' '1990–1996'
 '2004' '2007–2014' '1996–2001' '1999–2000' '2012–2014' '2012–2018'
 '2018–2019' '2009–2013' '1971' '1989' '2001–2018' '1987–1995' '1998–2020'
 '2004–2013' '2004–2012' '2019–2021' '2006–2010' '2006–2012' '1996'
 '1994–2000' '1980' '1995–1996' '2016–2017' '1993–1996' '1962' '1984'
 '2011–2016' '2009–2019' '2006–2021' '2012–2015' '2013–2014' '1960' '1988'
 '1987' '2010–2011' '1969' '2006–2011' '1961' '1979' '2014–2015' '1956'
 '1983' '2002–2019' '1975–1979' '1990' nan '2015–2016' '1995–1998' '1986'
 '2012–2013' '1966' '2011–2012' '2011–2021' '2009–2011' '2004–2018' '1967'
 '1994' '2003–2006' '1974' '2000–2004' '1984–2021' '1994–1999' '1992'
 '1969–1974' '2012–2016' '1958' '2008–2009' '2006–2009' '2011–2013'
 '2007–2008' '1988–1999' '2010–2012' '2010–2014' '1932' '1941' '1992–1995'
 '1991' '2008–2010' '1999' '1950' '1992–2014' '2002–2005' '2005–2009'
 '2001–2002' '1981–1989' '1952' '2000–2014' '1957' '2003–2007' '2008–2017'
 '2008–2019' '1998–2000' '2007–2016' '1994–1996' '1954' '1982' '1955'
 '1948' '2003–2013' '1947' '1946' '1997–2000' '1977' '2023' '1945'
 '1998–2002' '1953' '1985' '1973' '1972' '1965' '2010–2016' '2005–2013'
 '1998–1999' '2004–2005' '1944' '2009–2010' '1933' '1938' '2004–2009']

#### Now there's a bit of consistency in the columns. The next thing to do is to extract the first four characters.

In [11]:
# Extract the first four characters from the release_year_start column
df['release_year_start'] = df['release_year_start'].str[:4]

#### Now let's go over to the release_year_end column

In [12]:
# Extract the years using regular expressions
df['release_year_end'] = df['release_year_end'].str.extract(r'(\d{4}(?:–\d{4})?)')

# Remove leading and trailing spaces
df['release_year_end'] = df['release_year_end'].str.strip()

# Show distinct values to confirm they have been extracted
distinct_values = df['release_year_end'].unique()
print(distinct_values)

['2021' '2010–2022' '2013' '2020' '2006–2013' '2019' '2016–2021' '2011'
 '2005' '2008–2013' '2017' '2017–2021' '2016' '1994–2004' '2014'
 '2013–2020' '2015' '2005–2020' '2013–2022' '2003' '2009–2020' '2018'
 '2010–2015' '2011–2019' '2015–2020' '2005–2014' '2009–2015' '2008–2014'
 '2016–2018' '2009–2017' '2018–2021' '2017–2020' '1987–1994' '2012'
 '2014–2020' '2011–2018' '2005–2017' '2007–2015' '2000–2007' '2007' '1993'
 '1999–2022' '2015–2018' '2014–2019' '2012–2020' '2013–2019' '2007–2012'
 '2011–2020' '2010–2017' '2000–2015' '2015–2021' '2001' '1997' '2011–2017'
 '1993–1999' '1989–1998' '2010–2013' '2010–2020' '2003–2019' '2017–2019'
 '1975' '2005–2008' '1995–2001' '2006' '2015–2017' '2008–2020' '1984–1996'
 '2010' '2000' '2013–2018' '2009–2016' '2016–2020' '1998–2003' '1966–1969'
 '2009' '1990–1991' '1995' '2020–2021' '2013–2017' '2019–2020' '2017–2018'
 '2013–2015' '2012–2017' '2013–2016' '2002' '1976' '1978' '2016–2019'
 '2009–2014' '2022' '2011–2014' '2007–2013' '2006–2007' '2002–2007'
 '2014–2017' '2010–2019' '2008' '2012–2019' '2014–2016' '2009–2012'
 '2018–2020' '2001–2005' '2011–2015' '2014–2018' '2015–2019' '1982–1993'
 '1998' '1968' '2010–2018' '2014–2021' '2007–2010' '2013–2021' '1990–1996'
 '2004' '2007–2014' '1996–2001' '1999–2000' '2012–2014' '2012–2018'
 '2018–2019' '2009–2013' '1971' '1989' '2001–2018' '1987–1995' '1998–2020'
 '2004–2013' '2004–2012' '2019–2021' '2006–2010' '2006–2012' '1996'
 '1994–2000' '1980' '1995–1996' '2016–2017' '1993–1996' '1962' '1984'
 '2011–2016' '2009–2019' '2006–2021' '2012–2015' '2013–2014' '1960' '1988'
 '1987' '2010–2011' '1969' '2006–2011' '1961' '1979' '2014–2015' '1956'
 '1983' '2002–2019' '1975–1979' '1990' nan '2015–2016' '1995–1998' '1986'
 '2012–2013' '1966' '2011–2012' '2011–2021' '2009–2011' '2004–2018' '1967'
 '1994' '2003–2006' '1974' '2000–2004' '1984–2021' '1994–1999' '1992'
 '1969–1974' '2012–2016' '1958' '2008–2009' '2006–2009' '2011–2013'
 '2007–2008' '1988–1999' '2010–2012' '2010–2014' '1932' '1941' '1992–1995'
 '1991' '2008–2010' '1999' '1950' '1992–2014' '2002–2005' '2005–2009'
 '2001–2002' '1981–1989' '1952' '2000–2014' '1957' '2003–2007' '2008–2017'
 '2008–2019' '1998–2000' '2007–2016' '1994–1996' '1954' '1982' '1955'
 '1948' '2003–2013' '1947' '1946' '1997–2000' '1977' '2023' '1945'
 '1998–2002' '1953' '1985' '1973' '1972' '1965' '2010–2016' '2005–2013'
 '1998–1999' '2004–2005' '1944' '2009–2010' '1933' '1938' '2004–2009']

#### Now there's a bit of consistency in the columns. The next thing to do is to extract the last four characters

In [13]:
# Extract the last four characters from the 'release_year_end' column
df['release_year_end'] = df['release_year_end'].str[-4:]

In [14]:
# let's print our data to see if changes reflected
df

,movies,year,genre,rating,one-line,stars,votes,runtime,gross,release_year_start,release_year_end
0,Blood Red Sky,2021,"\nAction, Horror, Thriller",6.1,\nA woman with a mysterious illness is forced ...,\n Director:\nPeter Thorwarth\n| \n Star...,"21,062",121.0,NaN,2021,2021
1,Masters of the Universe: Revelation,2021–,"\nAnimation, Action, Adventure",5.0,\nThe war for Eternia begins again in what may...,"\n \n Stars:\nChris Wood, \nSara...","17,870",25.0,NaN,2021,2021
2,The Walking Dead,2010–2022,"\nDrama, Horror, Thriller",8.2,\nSheriff Deputy Rick Grimes wakes up from a c...,"\n \n Stars:\nAndrew Lincoln, \n...","885,805",44.0,NaN,2010,2022
3,Rick and Morty,2013–,"\nAnimation, Adventure, Comedy",9.2,\nAn animated series that follows the exploits...,"\n \n Stars:\nJustin Roiland, \n...","414,849",23.0,NaN,2013,2013
4,Army of Thieves,2021,"\nAction, Crime, Horror",NaN,"\nA prequel, set before the events of Army of ...",\n Director:\nMatthias Schweighöfer\n| \n ...,NaN,NaN,NaN,2021,2021
...,...,...,...,...,...,...,...,...,...,...,...
9935,The Imperfects,2021–,"\nAdventure, Drama, Fantasy",NaN,\nAdd a Plot\n,\n \n Stars:\nMorgan Taylor Camp...,NaN,NaN,NaN,2021,2021
9964,AlRawabi School for Girls,2021,\nDrama,NaN,\nAdd a Plot\n,\n Director:\nTima Shomali\n| \n Stars:\...,NaN,NaN,NaN,2021,2021
9993,Totenfrau,2022–,"\nDrama, Thriller",NaN,\nAdd a Plot\n,\n Director:\nNicolai Rohde\n| \n Stars:...,NaN,NaN,NaN,2022,2022
9995,Arcane,2021–,"\nAnimation, Action, Adventure",NaN,\nAdd a Plot\n,\n,NaN,NaN,NaN,2021,2021
9996,Heart of Invictus,2022–,"\nDocumentary, Sport",NaN,\nAdd a Plot\n,\n Director:\nOrlando von Einsiedel\n| \n ...,NaN,NaN,NaN,2022,2022

#### Compare the year column with the release_year_start and release_year_end columns. Notice how the movies with one year have the same year in the release_start_year and release_end_year column. While the ones with multiple years have the first year in the release_start_year column and the last year in the release_start_end column. An example is "The Walking Dead" movie. 


#### Now we will work on movies that are ongoing and don't have a release end movie date yet

In [15]:
# remove trailing and leading spaces
df['year'] = df['year'].str.strip()

# Define a regular expression pattern to extract the year ending with a hyphen
pattern = r'(\d{4}–)$'

# Extract the year values using the regular expression pattern into a new column called "years"
df['years'] = df['year'].str.extract(pattern)

In [16]:
# print the years column to confirm if our extraction worked
df['years']

0         NaN
1       2021–
2         NaN
3       2013–
4         NaN
        ...
9935    2021–
9964      NaN
9993    2022–
9995    2021–
9996    2022–
Name: years, Length: 6817, dtype: object

In [17]:
# Identify the rows where years column ends with a hyphen and is not null
hyphen_rows = df['years'].str.endswith('–') & df['years'].notnull()

# Replace the corresponding values in 'release_year_end' with 'Ongoing'
df.loc[hyphen_rows, 'release_year_end'] = 'Ongoing'

# drop the years column because we are done using it
df.drop('years', axis=1, inplace=True)

# Print the modified DataFrame
df

,movies,year,genre,rating,one-line,stars,votes,runtime,gross,release_year_start,release_year_end
0,Blood Red Sky,2021,"\nAction, Horror, Thriller",6.1,\nA woman with a mysterious illness is forced ...,\n Director:\nPeter Thorwarth\n| \n Star...,"21,062",121.0,NaN,2021,2021
1,Masters of the Universe: Revelation,2021–,"\nAnimation, Action, Adventure",5.0,\nThe war for Eternia begins again in what may...,"\n \n Stars:\nChris Wood, \nSara...","17,870",25.0,NaN,2021,Ongoing
2,The Walking Dead,2010–2022,"\nDrama, Horror, Thriller",8.2,\nSheriff Deputy Rick Grimes wakes up from a c...,"\n \n Stars:\nAndrew Lincoln, \n...","885,805",44.0,NaN,2010,2022
3,Rick and Morty,2013–,"\nAnimation, Adventure, Comedy",9.2,\nAn animated series that follows the exploits...,"\n \n Stars:\nJustin Roiland, \n...","414,849",23.0,NaN,2013,Ongoing
4,Army of Thieves,2021,"\nAction, Crime, Horror",NaN,"\nA prequel, set before the events of Army of ...",\n Director:\nMatthias Schweighöfer\n| \n ...,NaN,NaN,NaN,2021,2021
...,...,...,...,...,...,...,...,...,...,...,...
9935,The Imperfects,2021–,"\nAdventure, Drama, Fantasy",NaN,\nAdd a Plot\n,\n \n Stars:\nMorgan Taylor Camp...,NaN,NaN,NaN,2021,Ongoing
9964,AlRawabi School for Girls,2021,\nDrama,NaN,\nAdd a Plot\n,\n Director:\nTima Shomali\n| \n Stars:\...,NaN,NaN,NaN,2021,2021
9993,Totenfrau,2022–,"\nDrama, Thriller",NaN,\nAdd a Plot\n,\n Director:\nNicolai Rohde\n| \n Stars:...,NaN,NaN,NaN,2022,Ongoing
9995,Arcane,2021–,"\nAnimation, Action, Adventure",NaN,\nAdd a Plot\n,\n,NaN,NaN,NaN,2021,Ongoing
9996,Heart of Invictus,2022–,"\nDocumentary, Sport",NaN,\nAdd a Plot\n,\n Director:\nOrlando von Einsiedel\n| \n ...,NaN,NaN,NaN,2022,Ongoing

#### Perfecto! Well almost perfecto. We now have the release_year_end column filled as ongoing if the year column value is open-ended. Check out the "Rick and Morty" movie in index 3 to see what we are talking about. 

#### Let's check if there are cases where there are null values in the release_year_start and release_year_end columns when the year column is not null

In [18]:
# Filter the dataset for rows where 'release_year_start' column is null and 'year' column is not null
filter_df = df[pd.isnull(df['release_year_start']) & pd.isnull(df['release_year_end']) & ~pd.isnull(df['year'])]

# Display the filtered DataFrame
filter_df

,movies,year,genre,rating,one-line,stars,votes,runtime,gross,release_year_start,release_year_end
1155,The Killer,I,"\nAction, Crime, Drama",NaN,\nPlot unknown.,\n Director:\nDavid Fincher\n| \n Star:\...,NaN,NaN,NaN,NaN,NaN
1165,Hustle,III,"\nComedy, Drama, Sport",NaN,\nA washed-up basketball scout discovers a phe...,\n Director:\nJeremiah Zagar\n| \n Stars...,NaN,NaN,NaN,NaN,NaN
1527,Wednesday,II,"\nComedy, Family, Fantasy",NaN,\nA modernized live-action version of 'The Add...,\n \n Star:\nJenna Ortega\n,NaN,NaN,NaN,NaN,NaN
1645,Strangers,XII,\nComedy,NaN,\nDrea and Eleanor agree to go after one anoth...,\n Director:\nJennifer Kaytin Robinson\n| \...,NaN,NaN,NaN,NaN,NaN
1684,The Pale Blue Eye,II,"\nCrime, Horror, Mystery",NaN,\nFollows a veteran detective who investigates...,\n Director:\nScott Cooper\n| \n Stars:\...,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
6433,The Rat,II,NaN,NaN,"\nFahad, who spends the last day of his life w...",\n Director:\nFaisal Al Amer\n,NaN,NaN,NaN,NaN,NaN
6455,"El Negocio, Pt. II",Video,\nAction,NaN,\nAdd a Plot\n,\n Director:\nTim Bulot\n| \n Stars:\nLa...,NaN,128.0,NaN,NaN,NaN
6852,The Pentaverate,II,\nComedy,NaN,\nAdd a Plot\n,\n Director:\nTim Kirkby\n| \n Star:\nPh...,NaN,NaN,NaN,NaN,NaN
8354,Painkiller,I,"\nCrime, Drama",NaN,\nAdd a Plot\n,\n Director:\nPeter Berg\n| \n Stars:\nU...,NaN,NaN,NaN,NaN,NaN
9461,True Story,III,"\nComedy, Drama",NaN,\nAdd a Plot\n,\n Director:\nStephen Williams\n| \n Sta...,NaN,NaN,NaN,NaN,NaN

#### When there are values in the year column, 78 of the release_year_start and release_year_end columns are still null. Let's look at the distinct values in the filter_df and see what kind of values are in the year column when the release_year_start and release_year_end columns null

In [19]:
# Show distinct values to confirm they have been extracted
distinct_values = filter_df['year'].unique()
print(distinct_values)

['I' 'III' 'II' 'XII' 'VII' 'IV' 'V' 'TV Special' 'TV Movie' 'VIII'
 'XXIII' 'VI' 'IX' 'XIII' 'XI' 'Video']

#### The values in this year column don't tell us anything about the movie release date. So we'll be dropping these 78 rows. 

#### There's also another case where the release_year_start and release_year_end columns are null. And that is when the year column is actually null. Let's check how large these null values are.

In [20]:
# Filter the dataset for rows where 'year' column is null
filtered_df = df[pd.isnull(df['year'])]

# Display the filtered DataFrame
filtered_df

,movies,year,genre,rating,one-line,stars,votes,runtime,gross,release_year_start,release_year_end
878,Vikings: Valhalla,NaN,"\nAction, Adventure, Drama",NaN,\nFollow-up series to 'Vikings' set 100 years ...,"\n \n Stars:\nLaura Berlin, \nSa...",NaN,NaN,NaN,NaN,NaN
1375,Resident Evil,NaN,"\nAction, Horror, Sci-Fi",NaN,\nNearly three decades after the discovery of ...,"\n \n Stars:\nLance Reddick, \nS...",NaN,NaN,NaN,NaN,NaN
1414,Bright 2,NaN,"\nAction, Adventure, Crime",NaN,\nPlot unknown. Sequel to the 2017 film 'Bright.',"\n \n Stars:\nWill Smith, \nJoel...",NaN,NaN,NaN,NaN,NaN
1425,Home Team,NaN,"\nComedy, Sport",NaN,\nThe story about New Orleans Saints head coac...,"\n Directors:\nCharles Francis Kinnane, \nD...",NaN,NaN,NaN,NaN,NaN
1428,The Division,NaN,"\nAction, Adventure, Drama",NaN,"\nIn the near future, a pandemic virus is spre...",\n Director:\nRawson Marshall Thurber\n| \n...,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
9659,Yeh Kaali Kaali Ankhein,NaN,"\nAction, Drama, Romance",NaN,\nAdd a Plot\n,"\n Directors:\nRohit Jugraj, \nSiddharth Se...",NaN,NaN,NaN,NaN,NaN
9736,From Scratch,NaN,\nDrama,NaN,\nAdd a Plot\n,\n Director:\nNzingha Stewart\n| \n Star...,NaN,NaN,NaN,NaN,NaN
9781,Inside Man,NaN,"\nDrama, Mystery, Thriller",NaN,\nAdd a Plot\n,\n Director:\nPaul McGuigan\n| \n Stars:...,NaN,NaN,NaN,NaN,NaN
9836,Kus uçusu,NaN,\nComedy,NaN,\nAdd a Plot\n,\n Director:\nDeniz Yorulmazer\n| \n Sta...,NaN,NaN,NaN,NaN,NaN
9904,Pretty Smart,NaN,\nComedy,NaN,\nAdd a Plot\n,\n Director:\nPamela Fryman\n| \n Stars:...,NaN,NaN,NaN,NaN,NaN

#### There are 464 null values in the year column and it seems like when the years are null it extends to every other columns except three columns. It's going to be very misleading to replace the year column with the mode or mean of the years because the years movies are released are peculiar. The only option we have without affecting the integrity of our data is to drop the rows that have these null values. Another rationale for this decision is due to the extension of this null value feature in most of the columns and the fact that the null values are approximately 7% of the dataset so we still have majority of the dataset intact.

In [21]:
# Drop rows with null values in the release_year_start and release_year_end columns due to the null values and invalid values in year column
df.dropna(subset=['release_year_start', 'release_year_end'], inplace=True)

In [22]:
# lastly, we'll be dropping the year column since we have split it into two suitable columns
df.drop('year', axis=1, inplace=True)

df

,movies,genre,rating,one-line,stars,votes,runtime,gross,release_year_start,release_year_end
0,Blood Red Sky,"\nAction, Horror, Thriller",6.1,\nA woman with a mysterious illness is forced ...,\n Director:\nPeter Thorwarth\n| \n Star...,"21,062",121.0,NaN,2021,2021
1,Masters of the Universe: Revelation,"\nAnimation, Action, Adventure",5.0,\nThe war for Eternia begins again in what may...,"\n \n Stars:\nChris Wood, \nSara...","17,870",25.0,NaN,2021,Ongoing
2,The Walking Dead,"\nDrama, Horror, Thriller",8.2,\nSheriff Deputy Rick Grimes wakes up from a c...,"\n \n Stars:\nAndrew Lincoln, \n...","885,805",44.0,NaN,2010,2022
3,Rick and Morty,"\nAnimation, Adventure, Comedy",9.2,\nAn animated series that follows the exploits...,"\n \n Stars:\nJustin Roiland, \n...","414,849",23.0,NaN,2013,Ongoing
4,Army of Thieves,"\nAction, Crime, Horror",NaN,"\nA prequel, set before the events of Army of ...",\n Director:\nMatthias Schweighöfer\n| \n ...,NaN,NaN,NaN,2021,2021
...,...,...,...,...,...,...,...,...,...,...
9935,The Imperfects,"\nAdventure, Drama, Fantasy",NaN,\nAdd a Plot\n,\n \n Stars:\nMorgan Taylor Camp...,NaN,NaN,NaN,2021,Ongoing
9964,AlRawabi School for Girls,\nDrama,NaN,\nAdd a Plot\n,\n Director:\nTima Shomali\n| \n Stars:\...,NaN,NaN,NaN,2021,2021
9993,Totenfrau,"\nDrama, Thriller",NaN,\nAdd a Plot\n,\n Director:\nNicolai Rohde\n| \n Stars:...,NaN,NaN,NaN,2022,Ongoing
9995,Arcane,"\nAnimation, Action, Adventure",NaN,\nAdd a Plot\n,\n,NaN,NaN,NaN,2021,Ongoing
9996,Heart of Invictus,"\nDocumentary, Sport",NaN,\nAdd a Plot\n,\n Director:\nOrlando von Einsiedel\n| \n ...,NaN,NaN,NaN,2022,Ongoing

## 3. Get the first genre from the genre column

#### Let's print unique values in the genre column first

In [23]:
# check the range of values in the genre column

distinct_values = df['genre'].unique()
print(distinct_values)

['\nAction, Horror, Thriller            '
 '\nAnimation, Action, Adventure            '
 '\nDrama, Horror, Thriller            '
 '\nAnimation, Adventure, Comedy            '
 '\nAction, Crime, Horror            '
 '\nAction, Crime, Drama            ' '\nDrama, Romance            '
 '\nCrime, Drama, Mystery            ' '\nComedy            '
 '\nAction, Adventure, Thriller            '
 '\nCrime, Drama, Fantasy            '
 '\nDrama, Horror, Mystery            '
 '\nComedy, Drama, Romance            '
 '\nCrime, Drama, Thriller            ' '\nDrama            '
 '\nComedy, Drama            ' '\nDrama, Fantasy, Horror            '
 '\nComedy, Romance            ' '\nAction, Adventure, Drama            '
 '\nCrime, Drama            ' '\nDrama, History, Romance            '
 '\nHorror, Mystery            ' '\nComedy, Crime            '
 '\nAction, Drama, History            '
 '\nAction, Adventure, Crime            '
 '\nAction, Adventure, Fantasy            '
 '\nAction, Crime, Mystery            '
 '\nDrama, Fantasy, Romance            '
 '\nDrama, Sci-Fi, Thriller            '
 '\nBiography, Drama, History            ' '\nCrime, Thriller            '
 '\nComedy, Crime, Drama            '
 '\nDrama, Mystery, Thriller            '
 '\nAction, Adventure, Mystery            ' '\nAction, Comedy            '
 '\nCrime, Drama, Horror            '
 '\nDrama, Mystery, Sci-Fi            '
 '\nAction, Comedy, Crime            ' '\nDrama, Family            '
 '\nAction, Adventure, Sci-Fi            '
 '\nAnimation, Comedy            ' '\nAction, Comedy, Drama            '
 '\nCrime, Horror, Thriller            '
 '\nAction, Adventure, Comedy            '
 '\nAnimation, Comedy, Drama            '
 '\nAdventure, Fantasy, Romance            '
 '\nAction, Drama, Fantasy            '
 '\nAction, Adventure, Biography            '
 '\nComedy, Drama, Fantasy            '
 '\nAction, Adventure, Horror            '
 '\nCrime, Drama, Romance            ' '\nAdventure, Thriller            '
 '\nBiography, Crime, Drama            '
 '\nDocumentary, Crime, Mystery            '
 '\nAction, Drama, Horror            ' '\nAction, Adventure            '
 '\nAnimation, Action, Fantasy            '
 '\nComedy, Drama, Music            ' '\nAction, Crime, Sport            '
 '\nAction, Drama            ' '\nHorror            '
 '\nDrama, Mystery, Romance            '
 '\nAnimation, Action, Comedy            '
 '\nAnimation, Short, Comedy            ' '\nThriller            '
 '\nAdventure, Fantasy            ' '\nAction, Drama, Sci-Fi            '
 '\nGame-Show, Reality-TV, Romance            '
 '\nComedy, Crime, Thriller            ' '\nDrama, Sci-Fi            '
 '\nMusical, Romance            ' '\nDocumentary            '
 '\nAction, Drama, Mystery            ' '\nAction, Thriller            '
 '\nAnimation, Crime, Drama            ' '\nAdventure, Drama            '
 '\nMystery, Thriller            ' '\nReality-TV, Romance            '
 '\nAnimation, Adventure, Family            '
 '\nAnimation, Action, Horror            ' '\nDrama, Fantasy            '
 '\nDrama, Thriller            ' '\nReality-TV            '
 '\nDocumentary, Biography, History            '
 '\nAdventure, Sci-Fi            '
 '\nAnimation, Drama, Romance            '
 '\nAdventure, Comedy, Crime            '
 '\nComedy, Fantasy, Romance            '
 '\nAdventure, Drama, Family            '
 '\nAction, Crime, Thriller            '
 '\nBiography, Drama, Sport            '
 '\nComedy, Family, Sci-Fi            '
 '\nAnimation, Comedy, Romance            '
 '\nAnimation, Drama, Fantasy            '
 '\nDrama, Fantasy, Sci-Fi            '
 '\nAdventure, Horror, Thriller            '
 '\nAction, Comedy, War            '
 '\nFamily, Fantasy, Musical            ' '\nHorror, Sci-Fi            '
 '\nComedy, Horror            ' '\nAdventure, Drama, Horror            '
 '\nDrama, Western            ' '\nDrama, History, Thriller            '
 '\nComedy, Drama, Western            '
 '\nDrama, Music, Romance            '
 '\nHorror, Sci-Fi, Thriller            ' '\nBiography, Drama            '
 '\nDrama, Romance, Western            '
 '\nComedy, Crime, Romance            '
 '\nComedy, Drama, Family            '
 '\nDrama, Fantasy, Mystery            '
 '\nAction, Sci-Fi, Thriller            '
 '\nComedy, Drama, Sport            '
 '\nCrime, Drama, History            '
 '\nDrama, Family, Romance            '
 '\nAdventure, Comedy, Drama            '
 '\nGame-Show, Reality-TV            '
 '\nDocumentary, Crime, History            '
 '\nCrime, Mystery, Thriller            '
 '\nComedy, Drama, Musical            '
 '\nAdventure, Drama, History            '
 '\nAdventure, Comedy, Reality-TV            '
 '\nFamily, Fantasy, Mystery            '
 '\nBiography, Comedy            ' '\nComedy, Music            '
 '\nAdventure, Comedy, Romance            '
 '\nComedy, Drama, Sci-Fi            '
 '\nDrama, Horror, Music            '
 '\nBiography, Comedy, Drama            '
 '\nAction, Biography, Drama            '
 '\nAdventure, Drama, Mystery            ' '\nComedy, Musical            '
 '\nAnimation, Adventure, Drama            '
 '\nComedy, Family            ' '\nAction, Horror, Sci-Fi            '
 '\nDrama, Horror            ' '\nAction, Fantasy, Thriller            '
 '\nDrama, Family, Fantasy            '
 '\nAction, Crime, Fantasy            '
 '\nAnimation, Action, Drama            '
 '\nAction, Fantasy, Mystery            '
 '\nAction, Comedy, Horror            '
 '\nHorror, Mystery, Thriller            '
 '\nAdventure, Drama, Fantasy            '
 '\nAction, Comedy, Family            ' '\nDrama, History            '
 '\nAction, Drama, Thriller            '
 '\nAction, Mystery, Thriller            ' '\nShort, Family            '
 '\nAdventure, Comedy, Fantasy            '
 '\nComedy, Reality-TV            ' '\nHorror, Thriller            '
 '\nComedy, Drama, Thriller            '
 '\nAction, Adventure, Family            '
 '\nCrime, Mystery, Sci-Fi            '
 '\nAction, Comedy, Romance            '
 '\nAdventure, Biography, Drama            '
 '\nComedy, Sci-Fi            ' '\nDrama, Romance, War            '
 '\nAdventure, Fantasy, Sci-Fi            '
 '\nCrime, Horror, Mystery            '
 '\nDrama, Family, Sport            '
 '\nAnimation, Action, Crime            '
 '\nAnimation, Drama, Family            '
 '\nDrama, Horror, Sci-Fi            '
 '\nBiography, Drama, Romance            '
 '\nAction, Horror, Mystery            '
 '\nDrama, Family, Reality-TV            ' '\nComedy, Mystery            '
 '\nAnimation, Family, Fantasy            '
 '\nAction, Romance, Thriller            '
 '\nAction, Crime, Sci-Fi            '
 '\nDrama, Music, Musical            ' '\nDocumentary, Sport            '
 '\nComedy, Sport            '
 '\nDocumentary, Biography, Drama            '
 '\nComedy, Family, Romance            '
 '\nBiography, Drama, Family            '
 '\nAnimation, Drama, Music            '
 '\nComedy, Family, Music            '
 '\nAction, Comedy, Fantasy            '
 '\nAdventure, Family, Fantasy            ' '\nAction, Crime            '
 '\nAdventure, Drama, War            ' '\nSci-Fi            '
 '\nDrama, History, Sport            ' '\nDrama, Music            '
 '\nHorror, Mystery, Sci-Fi            ' '\nDrama, Mystery            '
 '\nDrama, War            ' '\nDocumentary, Biography, Crime            '
 '\nDocumentary, Biography, Sport            '
 '\nDrama, History, War            '
 '\nAnimation, Adventure, Fantasy            '
 '\nAction, Western            ' '\nAdventure, Comedy, Family            '
 '\nAction, Fantasy, Sci-Fi            '
 '\nCrime, Drama, Sci-Fi            ' '\nComedy, Thriller            '
 '\nAnimation, Comedy, Family            '
 '\nMystery, Sci-Fi, Thriller            '
 '\nCrime, Sci-Fi, Thriller            '
 '\nAnimation, Adventure            ' '\nDocumentary, Crime            '
 '\nBiography, Drama, Musical            '
 '\nAction, Biography, Crime            '
 '\nBiography, Drama, Music            '
 '\nDrama, Family, Musical            '
 '\nCrime, Drama, Music            ' '\nDocumentary, Drama            '
 '\nAnimation, Drama, Mystery            '
 '\nCrime, Mystery, Romance            '
 '\nDrama, Romance, Sci-Fi            '
 '\nFantasy, Mystery, Romance            '
 '\nDrama, Fantasy, Thriller            '
 '\nFamily, Fantasy, Horror            '
 '\nComedy, Horror, Thriller            '
 '\nAnimation, Biography, Drama            ' '\nDrama, Sport            '
 '\nDrama, Thriller, War            '
 '\nHorror, Music, Thriller            '
 '\nComedy, Fantasy, Musical            '
 '\nDocumentary, Drama, History            '
 '\nDocumentary, Crime, Sport            '
 '\nComedy, Drama, War            ' '\nAction, Drama, Sport            '
 '\nComedy, Mystery, Romance            '
 '\nDocumentary, Crime, Drama            '
 '\nAction, Mystery, Sci-Fi            ' '\nGame-Show            '
 '\nDocumentary, Adventure            '
 '\nAction, Fantasy, Horror            '
 '\nAction, Drama, War            ' '\nMusic            '
 '\nCrime, Drama, Western            '
 '\nAdventure, Drama, Thriller            '
 '\nSci-Fi, Thriller            ' '\nFantasy, Horror, Romance            '
 '\nDrama, Romance, Thriller            '
 '\nCrime, Drama, Film-Noir            '
 '\nCrime, History, Thriller            '
 '\nDrama, History, Western            ' '\nFamily, Fantasy            '
 '\nFantasy, Horror, Sci-Fi            '
 '\nComedy, Crime, Mystery            '
 '\nAdventure, Drama, Sci-Fi            '
 '\nFantasy, Horror, Mystery            ' '\nAction, War            '
 '\nDocumentary, Adventure, Drama            '
 '\nComedy, Fantasy, Horror            ' '\nAnimation, Action            '
 '\nShort, Drama, Sci-Fi            '
 '\nShort, Drama, Romance            '
 '\nDrama, History, Horror            '
 '\nDocumentary, Drama, Mystery            '
 '\nAnimation, Drama, Horror            '
 '\nShort, Action, Comedy            '
 '\nComedy, Family, Fantasy            '
 '\nHorror, Reality-TV            '
 '\nAdventure, Comedy, Mystery            '
 '\nDocumentary, Biography, Comedy            '
 '\nAdventure, Romance            ' '\nCrime            '
 '\nAnimation, Comedy, Sport            ' '\nBiography, Crime            '
 '\nAnimation, Adventure, Horror            '
 '\nDocumentary, Short, History            '
 '\nAction, Drama, Western            ' '\nRomance, Sci-Fi            '
 '\nDocumentary, Comedy, History            '
 '\nAnimation, Short, Adventure            '
 '\nDocumentary, Crime, Music            ' '\nRomance            '
 '\nComedy, Fantasy            ' '\nAction, Fantasy, Western            '
 '\nDocumentary, Biography            '
 '\nAdventure, Drama, Romance            ' '\nAction            '
 '\nAction, Comedy, Thriller            '
 '\nBiography, Drama, Thriller            '
 '\nDocumentary, Action, Adventure            '
 '\nHistory, Sport, Thriller            '
 '\nCrime, Fantasy, Thriller            '
 '\nAnimation, Family            ' '\nAction, Sci-Fi            '
 '\nAction, Adventure, War            ' '\nFamily, Game-Show            '
 '\nAnimation, Comedy, Fantasy            ' '\nAnimation            '
 '\nDrama, Musical            ' '\nBiography, Drama, War            '
 '\nComedy, Romance, Sci-Fi            '
 '\nDocumentary, History, War            '
 '\nDocumentary, History            ' '\nDocumentary, Family            '
 '\nComedy, Crime, Family            ' '\nAction, Fantasy            '
 '\nAction, Comedy, History            '
 '\nDrama, Fantasy, Sport            '
 '\nDocumentary, Reality-TV            '
 '\nCrime, Drama, Family            ' '\nDrama, Family, Music            '
 '\nDocumentary, Comedy            ' '\nFamily            '
 '\nShort, Music            ' '\nFantasy, Horror            '
 '\nAnimation, Short, Drama            '
 '\nAnimation, Action, Family            '
 '\nComedy, Fantasy, Mystery            '
 '\nAnimation, Short, Action            '
 '\nAction, Romance, Sci-Fi            '
 '\nDocumentary, Reality-TV, Romance            '
 '\nFantasy, Romance            ' '\nComedy, Drama, Horror            '
 '\nFilm-Noir, Thriller            ' '\nSport            '
 '\nDocumentary, Short, Sport            '
 '\nShort, Comedy, Music            '
 '\nDocumentary, Biography, Music            '
 '\nDrama, Romance, Sport            '
 '\nAnimation, Action, Romance            '
 '\nComedy, Horror, Sci-Fi            ' '\nFamily, Sport            '
 '\nBiography, Thriller            '
 '\nAnimation, Action, Sci-Fi            ' '\nShort, Drama            '
 '\nComedy, Musical, Romance            '
 '\nDocumentary, Music            ' '\nComedy, Crime, Western            '
 '\nDocumentary, War            ' '\nComedy, Horror, Romance            '
 '\nAction, Romance            ' '\nAction, Mystery, Romance            '
 '\nShort, Crime, Drama            '
 '\nComedy, Music, Romance            '
 '\nAction, Drama, Romance            '
 '\nComedy, Music, Musical            '
 '\nShort, Action, Adventure            '
 '\nDocumentary, Animation, Sci-Fi            '
 '\nDrama, Family, Sci-Fi            ' '\nBiography, Music            '
 '\nShort, Comedy, Crime            ' '\nAdventure            '
 '\nMusic, Romance            '
 '\nAnimation, Adventure, Sci-Fi            '
 '\nAnimation, Action, History            '
 '\nComedy, Horror, Reality-TV            ' '\nTalk-Show            '
 '\nDocumentary, Adventure, Game-Show            ' '\nWestern            '
 '\nAction, Thriller, War            '
 '\nFamily, Sci-Fi, Thriller            '
 '\nComedy, Family, Musical            ' '\nFamily, Romance            '
 '\nDocumentary, Animation            ' '\nComedy, Talk-Show            '
 '\nShort, Adventure, Comedy            '
 '\nDocumentary, Short, Sci-Fi            '
 '\nCrime, Film-Noir, Thriller            '
 '\nDrama, Family, Mystery            '
 '\nDrama, History, Music            '
 '\nComedy, News, Talk-Show            '
 '\nDrama, Musical, Romance            '
 '\nCrime, Film-Noir, Mystery            '
 '\nAnimation, Short            '
 '\nAdventure, Family, Sci-Fi            '
 '\nComedy, Drama, Mystery            '
 '\nGame-Show, Horror, Reality-TV            '
 '\nComedy, Horror, Mystery            '
 '\nAction, Comedy, Sci-Fi            '
 '\nAdventure, Fantasy, Horror            '
 '\nShort, Horror, Mystery            '
 '\nAnimation, Comedy, Thriller            '
 '\nDocumentary, Adventure, History            '
 '\nAnimation, Sport            ' '\nMusic, Reality-TV            '
 '\nDocumentary, Game-Show            ' '\nAdventure, Comedy            '
 '\nAnimation, Fantasy            '
 '\nFamily, Adventure, Comedy            '
 '\nAnimation, Family, Musical            '
 '\nDrama, Reality-TV            ' '\nComedy, Romance, Sport            '
 '\nDocumentary, Mystery, Reality-TV            '
 '\nDocumentary, Horror            '
 '\nDocumentary, Biography, News            '
 '\nDocumentary, Short, Drama            '
 '\nDocumentary, Short            ' '\nAction, Horror            '
 '\nComedy, Horror, Talk-Show            '
 '\nAdventure, Reality-TV            '
 '\nFamily, Music, Romance            '
 '\nHorror, Mystery, Romance            ' '\nFantasy, Music            '
 '\nFantasy            ' '\nAnimation, Fantasy, Romance            '
 '\nComedy, Family, Horror            ' '\nGame-Show, Music            '
 '\nDocumentary, Drama, Sport            '
 '\nDrama, Film-Noir, Mystery            '
 '\nDocumentary, Short, Crime            '
 '\nDocumentary, Reality-TV, Talk-Show            '
 '\nShort, Comedy            ' '\nAnimation, Comedy, Sci-Fi            '
 nan '\nDrama, Horror, Romance            '
 '\nBiography, History, War            ' '\nFamily, Talk-Show            '
 '\nDocumentary, Comedy, Musical            '
 '\nDrama, Thriller, Western            '
 '\nDocumentary, Crime, Thriller            '
 '\nDocumentary, Short, War            '
 '\nDrama, Family, History            ' '\nWar            '
 '\nDocumentary, Romance            '
 '\nComedy, Romance, Western            '
 '\nDocumentary, Talk-Show            ' '\nBiography            '
 '\nFantasy, Thriller            '
 '\nAction, Fantasy, History            '
 '\nDocumentary, Reality-TV, Sport            '
 '\nShort, Comedy, Talk-Show            ' '\nAction, Mystery            '
 '\nDocumentary, Short, Biography            '
 '\nDocumentary, Animation, Comedy            '
 '\nDocumentary, Biography, Family            '
 '\nAction, Biography, History            '
 '\nDocumentary, News            ' '\nAnimation, Horror            '
 '\nDocumentary, History, Sport            '
 '\nDocumentary, Mystery            '
 '\nAnimation, Comedy, Musical            '
 '\nDocumentary, Comedy, Drama            '
 '\nAnimation, Fantasy, Sci-Fi            '
 '\nDocumentary, Animation, History            '
 '\nComedy, Fantasy, Reality-TV            '
 '\nGame-Show, Reality-TV, Sport            '
 '\nComedy, History, Romance            '
 '\nBiography, Drama, Mystery            '
 '\nAdventure, Drama, Sport            '
 '\nFamily, Reality-TV            ' '\nAdventure, Mystery            '
 '\nComedy, Mystery, Sci-Fi            '
 '\nDocumentary, History, News            '
 '\nFamily, Musical            ' '\nAnimation, Drama, Sport            '
 '\nAction, Crime, Romance            '
 '\nDocumentary, Horror, Mystery            '
 '\nDocumentary, Action, Biography            '
 '\nRomance, Sport            ' '\nBiography, History            '
 '\nNews            ' '\nHorror, Romance            '
 '\nAdventure, Family            '
 '\nDocumentary, Action, History            '
 '\nShort, Horror            ' '\nDocumentary, Biography, War            '
 '\nAdventure, Music, Sci-Fi            ' '\nMystery            '
 '\nAnimation, Family, Sci-Fi            ' '\nMusical            '
 '\nDocumentary, Drama, Family            '
 '\nShort, Mystery, Sci-Fi            '
 '\nComedy, Documentary            ' '\nShort            '
 '\nDocumentary, Western            '
 '\nDocumentary, Short, Family            '
 '\nAnimation, Short, Mystery            '
 '\nAnimation, Short, Family            '
 '\nComedy, Animation            '
 '\nDocumentary, Biography, Romance            '
 '\nDocumentary, Drama, Fantasy            '
 '\nShort, Documentary            '
 '\nDocumentary, Comedy, Music            ' '\nMusic, Musical            '
 '\nFamily, Music            '
 '\nGame-Show, Music, Reality-TV            '
 '\nAction, History            '
 '\nDocumentary, Adventure, Biography            '
 '\nShort, Biography, Drama            '
 '\nDocumentary, Adventure, News            '
 '\nDrama, Fantasy, History            ' '\nDrama, Short            '
 '\nAction, Adventure, Sport            ' '\nCrime, Horror            '
 '\nHistory, Music, Talk-Show            '
 '\nComedy, Drama, History            '
 '\nDocumentary, Crime, News            '
 '\nDocumentary, Music, Sport            '
 '\nDocumentary, History, Mystery            '
 '\nDocumentary, Short, Comedy            ' '\nShort, Sci-Fi            '
 '\nComedy, Mystery, Thriller            '
 '\nDocumentary, History, Music            '
 '\nDocumentary, Family, History            '
 '\nDocumentary, Action, Crime            ' '\nShort, History            '
 '\nShort, Reality-TV            ' '\nShort, Action            '
 '\nBiography, Family, News            ' '\nNews, Reality-TV            '
 '\nTalk-Show, Sport            ']

#### Notice how each entry in the genre column have a leading new line character (\n) before it. While extracting the first genre, we'll be removing the leading new line character and the leading and traling spaces

In [24]:
# Extract the first genre from the genre column, handling leading newline characters
df['genre'] = df['genre'].str.split(',').str[0].str.strip().str.lstrip('\n')

# Print the modified DataFrame
df

,movies,genre,rating,one-line,stars,votes,runtime,gross,release_year_start,release_year_end
0,Blood Red Sky,Action,6.1,\nA woman with a mysterious illness is forced ...,\n Director:\nPeter Thorwarth\n| \n Star...,"21,062",121.0,NaN,2021,2021
1,Masters of the Universe: Revelation,Animation,5.0,\nThe war for Eternia begins again in what may...,"\n \n Stars:\nChris Wood, \nSara...","17,870",25.0,NaN,2021,Ongoing
2,The Walking Dead,Drama,8.2,\nSheriff Deputy Rick Grimes wakes up from a c...,"\n \n Stars:\nAndrew Lincoln, \n...","885,805",44.0,NaN,2010,2022
3,Rick and Morty,Animation,9.2,\nAn animated series that follows the exploits...,"\n \n Stars:\nJustin Roiland, \n...","414,849",23.0,NaN,2013,Ongoing
4,Army of Thieves,Action,NaN,"\nA prequel, set before the events of Army of ...",\n Director:\nMatthias Schweighöfer\n| \n ...,NaN,NaN,NaN,2021,2021
...,...,...,...,...,...,...,...,...,...,...
9935,The Imperfects,Adventure,NaN,\nAdd a Plot\n,\n \n Stars:\nMorgan Taylor Camp...,NaN,NaN,NaN,2021,Ongoing
9964,AlRawabi School for Girls,Drama,NaN,\nAdd a Plot\n,\n Director:\nTima Shomali\n| \n Stars:\...,NaN,NaN,NaN,2021,2021
9993,Totenfrau,Drama,NaN,\nAdd a Plot\n,\n Director:\nNicolai Rohde\n| \n Stars:...,NaN,NaN,NaN,2022,Ongoing
9995,Arcane,Animation,NaN,\nAdd a Plot\n,\n,NaN,NaN,NaN,2021,Ongoing
9996,Heart of Invictus,Documentary,NaN,\nAdd a Plot\n,\n Director:\nOrlando von Einsiedel\n| \n ...,NaN,NaN,NaN,2022,Ongoing

#### Before moving to the next question, let's check for null values in the genre column

In [25]:
# Count the number of null values in the genre column
null_genre_count = df['genre'].isnull().sum()

# Print the count of null values
print("Number of null values in 'genre' column:", null_genre_count)

Number of null values in 'genre' column: 22

#### We won't be removing these null values or replacing them with the mode of the genre column. Instead, we'll be replacing the null values with the slang, TBC. This means 'To Be Confirmed' and is usually used for information that is to be determined or announced in the movie industry.

In [26]:
# Replace null values in the genre column with 'TBC'
df['genre'] = df['genre'].fillna('TBC')

## 4. Clean the rating column

#### Let's look at the distinct values in the rating column

In [27]:
# check the range of values in the rating column

distinct_values = df['rating'].unique()
print(distinct_values)

# print the datatype of the rating column
df['rating'].dtypes

[6.1 5.  8.2 9.2 nan 7.6 6.8 8.6 7.9 7.4 6.  8.1 6.2 5.4 8.  7.5 9.4 8.3
 8.7 8.9 8.8 8.5 8.4 6.7 7.7 9.  5.8 3.3 7.8 5.7 6.6 6.9 6.5 7.1 5.6 7.3
 9.1 7.2 6.4 9.3 7.  6.3 3.7 5.5 4.6 4.8 5.3 4.7 5.9 5.1 4.9 2.7 4.4 3.1
 4.5 4.2 3.8 5.2 2.8 3.5 4.3 3.2 1.1 3.9 4.  3.4 2.6 3.6 3.  2.5 2.2 2.9
 4.1 2.1 2.  2.3 2.4 1.8]

dtype('float64')

#### The datatype of the rating column is suitable. Now let's check for the number of null values in the rating column

In [28]:
# Count the number of null values in the rating column
null_rating_count = df['rating'].isnull().sum()

# Print the count of null values
print("Number of null values in 'rating' column:", null_rating_count)

Number of null values in 'rating' column: 460

#### The null values are too much to drop and it would be misleading to replace them with the average values of all ratings. Instead, we will be replacing them with the median rating by genre. Take note that this is different from replacing with the Total median or average rating. 

#### We made this decision because people interested in a particular genre judge movies differently than someone in another genre. Example, someone who is a fan of the Horror genre would judge a comedy movie differently from someone who is a fan of comedy movies. Also, using average could skew the data further so it's best to use median instead

In [29]:
# show the rating median and means of all genres

df1 = df.groupby('genre')['rating'].median().round(1)
print(df1)

# Get the average of the rating column
mean_rating = df['rating'].mean().round(1)
# Print the mean of all ratings
print("Mean of all ratings:", mean_rating)

# Get the average of the rating column
median_rating = df['rating'].median().round(1)
# Print the mean of all ratings
print("Median of all ratings:", median_rating)

genre
Action         6.4
Adventure      6.7
Animation      7.1
Biography      6.9
Comedy         6.6
Crime          7.1
Documentary    7.2
Drama          6.7
Family         6.6
Fantasy        6.0
Film-Noir      7.5
Game-Show      6.3
History        6.2
Horror         4.8
Music          7.2
Musical        6.7
Mystery        5.5
News           6.2
Reality-TV     6.5
Romance        6.7
Sci-Fi         6.0
Short          7.0
Sport          7.3
TBC            6.6
Talk-Show      7.2
Thriller       5.1
War            8.2
Western        6.6
Name: rating, dtype: float64
Mean of all ratings: 6.6
Median of all ratings: 6.8

#### Notice the variation of the medians of each genre compared to the mean and median of all ratings. Hence, we'll be using median by genre to fill the null values

In [30]:
# replace the rating null values with the median by genre
df['rating'] = df.groupby('genre')['rating'].transform(lambda x: x.fillna(x.median().round()))

## 5. Get the director name and put it in a different column and also put the stars names in a separate column

In [31]:
# check the range of values in the stars column

distinct_values = df['stars'].unique()
print(distinct_values)

['\n    Director:\nPeter Thorwarth\n| \n    Stars:\nPeri Baumeister, \nCarl Anton Koch, \nAlexander Scheer, \nKais Setti\n'
 '\n            \n    Stars:\nChris Wood, \nSarah Michelle Gellar, \nLena Headey, \nMark Hamill\n'
 '\n            \n    Stars:\nAndrew Lincoln, \nNorman Reedus, \nMelissa McBride, \nLauren Cohan\n'
 ...
 '\n    Director:\nTima Shomali\n| \n    Stars:\nSalsabiela A., \nJoanna Arida, \nYara Mustafa, \nRakeen Saad\n'
 '\n    Director:\nNicolai Rohde\n| \n    Stars:\nFelix Klare, \nRomina Küper, \nAnna Maria Mühe, \nRobert Palfrader\n'
 '\n    Director:\nOrlando von Einsiedel\n| \n    Star:\nPrince Harry\n']

In [32]:
# Extract director name
df['director'] = df['stars'].str.extract(r'Director:\s*(.*?)\s*\|')

# Extract star names into the existing stars column
df['stars'] = df['stars'].str.split('Stars:\n').str[1].str.split(',\n').str.join(', ')

# Print the resulting DataFrame
df

,movies,genre,rating,one-line,stars,votes,runtime,gross,release_year_start,release_year_end,director
0,Blood Red Sky,Action,6.1,\nA woman with a mysterious illness is forced ...,"Peri Baumeister, \nCarl Anton Koch, \nAlexande...","21,062",121.0,NaN,2021,2021,Peter Thorwarth
1,Masters of the Universe: Revelation,Animation,5.0,\nThe war for Eternia begins again in what may...,"Chris Wood, \nSarah Michelle Gellar, \nLena He...","17,870",25.0,NaN,2021,Ongoing,NaN
2,The Walking Dead,Drama,8.2,\nSheriff Deputy Rick Grimes wakes up from a c...,"Andrew Lincoln, \nNorman Reedus, \nMelissa McB...","885,805",44.0,NaN,2010,2022,NaN
3,Rick and Morty,Animation,9.2,\nAn animated series that follows the exploits...,"Justin Roiland, \nChris Parnell, \nSpencer Gra...","414,849",23.0,NaN,2013,Ongoing,NaN
4,Army of Thieves,Action,6.0,"\nA prequel, set before the events of Army of ...","Matthias Schweighöfer, \nNathalie Emmanuel, \n...",NaN,NaN,NaN,2021,2021,Matthias Schweighöfer
...,...,...,...,...,...,...,...,...,...,...,...
9935,The Imperfects,Adventure,7.0,\nAdd a Plot\n,"Morgan Taylor Campbell, \nChris Cope, \nIñaki ...",NaN,NaN,NaN,2021,Ongoing,NaN
9964,AlRawabi School for Girls,Drama,7.0,\nAdd a Plot\n,"Salsabiela A., \nJoanna Arida, \nYara Mustafa,...",NaN,NaN,NaN,2021,2021,Tima Shomali
9993,Totenfrau,Drama,7.0,\nAdd a Plot\n,"Felix Klare, \nRomina Küper, \nAnna Maria Mühe...",NaN,NaN,NaN,2022,Ongoing,Nicolai Rohde
9995,Arcane,Animation,7.0,\nAdd a Plot\n,NaN,NaN,NaN,NaN,2021,Ongoing,NaN
9996,Heart of Invictus,Documentary,7.0,\nAdd a Plot\n,NaN,NaN,NaN,NaN,2022,Ongoing,Orlando von Einsiedel

#### We want each star name to be in a different line. Hence that '\n' symbol in the stars column

#### Now let's check for null values in the stars and director columns

In [33]:
# Count the number of null values in the director column
null_director_count = df['director'].isnull().sum()
# Print the count of null values
print("Number of null values in 'director' column:", null_director_count)

# Count the number of null values in the stars column
null_stars_count = df['stars'].isnull().sum()
# Print the count of null values
print("Number of null values in 'stars' column:", null_stars_count)

Number of null values in 'director' column: 3112
Number of null values in 'stars' column: 656

#### The null values in both the stars and director columns are much so we won't be dropping them. instead, we will replace them with one of the popular acronyms in the movie industry, 'TBD', which means 'To Be Determined'

In [34]:
# Replace null values in the stars column with 'TBD'
df['stars'] = df['stars'].fillna('TBD')

# Replace null values in the director column with 'TBD'
df['director'] = df['director'].fillna('TBD')

## 6. Clean the votes column

In [35]:
# check the range of values in the votes column

distinct_values = df['votes'].unique()
print(distinct_values)

df['votes'].dtypes

['21,062' '17,870' '885,805' ... '7,229' '3,404' '1,173']

dtype('O')

#### The distinct values printed didn't show everything because of the wide range of distinct values in the votes column. We noticed something though. There is comma in the votes column values. This is what made it have the object datatype. So we'll be removing the commas while turning it to integers

In [36]:
df['votes'] = pd.to_numeric(df['votes'].str.replace(',', ''), errors='coerce').astype('Int64')

#### Done! Now let's check for null values in this column and handle them

In [37]:
# Count the number of null values in the votes column
null_votes_count = df['votes'].isnull().sum()

# Print the count of null values
print("Number of null values in 'votes' column:", null_votes_count)

Number of null values in 'votes' column: 460

#### Again, the null values are much so we'll be replacing it with the median votes by genre just like how we did for the rating null values. Most persons intrested in a particular genre will most likely watch other movies in the same genre

In [38]:
# show the votes median and means of all genres

df1 = df.groupby('genre')['votes'].median().round()
print(df1)
print('\n')

# Get the average of the votes column
mean_votes = df['votes'].mean().round()
# Print the mean of all votes
print("Mean of all votes:", mean_votes)
print('\n')

# Get the average of the votes column
median_votes = df['votes'].median().round()
# Print the mean of all votes
print("Median of all votes:", median_votes)

genre
Action           6036.0
Adventure        5595.0
Animation         916.0
Biography        6303.0
Comedy           1425.0
Crime            3675.0
Documentary       785.0
Drama            1608.0
Family            386.0
Fantasy           661.0
Film-Noir        5679.0
Game-Show         505.0
History          9330.0
Horror           1930.0
Music             380.0
Musical        125372.0
Mystery          1124.0
News              462.0
Reality-TV        470.0
Romance           197.0
Sci-Fi            646.0
Short             736.0
Sport             646.0
TBC                31.0
Talk-Show         247.0
Thriller          486.0
War               364.0
Western           934.0
Name: votes, dtype: Float64


Mean of all votes: 20785.0


Median of all votes: 1474.0

#### Notice the wide gap between the mean and median of all votes so replacing null values with the mean of all votes will be a really great mistake. Then notice the variation between the median of all votes and median of votes by genre. Some genre have huge popularity while others don't

In [39]:
# replace the null values in votes column with median by genre type
df['votes'] = df.groupby('genre')['votes'].transform(lambda x: x.fillna(x.median().round()))

## 7. Clean the runtime column

In [40]:
# check the range of values in the runtime column

distinct_values = df['runtime'].unique()
print(distinct_values)

df['runtime'].dtypes

[121.  25.  44.  23.  nan  50. 110.  53.  30. 114.  42. 107.  60.  41.
  49.  51. 109.  22.  43. 136.  46.  45.  58.  24.  70.  64. 148. 395.
 101.  95.  32. 118.  47.  31. 104. 127.  54.  92.  88.  59.  55. 178.
  16.  48.  99. 124. 151. 100.  40. 149. 119.  20.  87. 111.  91. 117.
 135. 129. 113.  15.  85. 169.  97. 116. 138. 137. 209. 201. 123.  96.
 572. 467. 140.  56. 112. 125. 145. 128. 147.  90.  98.  26. 115. 156.
 179. 108.  34.  11. 152.  94. 133. 298.  28. 102. 106. 385. 122. 452.
 120. 494. 240. 134.  80.  89.  35. 216. 296. 143. 164. 386. 363. 150.
 105. 131.  65. 103. 126.  86.  52. 356. 154. 130. 491. 132.  93.  82.
 370.  18. 228. 280.  78. 316. 264.  83.  81. 270. 197. 347. 267.  37.
 230. 233.  21. 220. 331.  39.   9. 281.  10. 557.  33.  84. 461. 460.
  27. 231. 189. 360. 498. 187.  75. 629. 144. 542. 258. 239. 312. 158.
 229. 403.  57. 142. 313. 306. 358. 139. 300. 436. 374. 203. 160.  29.
 192. 191.  62. 219.  77.  73.  79.  36. 236. 204. 210.  13. 227. 163.
 195.   7. 242.  72. 284. 271. 853.  76.  38. 241. 162. 202. 253.  74.
 333.  68. 288. 252.  63.   3. 351. 217. 337.  71. 180. 355. 172. 174.
   8. 573.  17.  61.   5. 437. 330. 290. 173. 249. 170. 188.   1. 303.
 211. 205.  69.  67. 157.  66. 161.  14.  12. 153. 155. 181. 418. 245.
   4.  19. 171.   6.   2. 373. 141. 146. 165.]

dtype('float64')

#### The column values seem okay and the datatype is suitable. let's check for null values in the column

In [41]:
# Count the number of null values in the runtime column
null_runtime_count = df['runtime'].isnull().sum()
# Print the count of null values
print("Number of null values in 'runtime' column:", null_runtime_count)

Number of null values in 'runtime' column: 991

#### We'll be replacing the null values with the median of runtime by genre. This is because the use of median doesn't skew our data inlike average and genre type usually affects the runtime of movies. Example, comedies have shorter runtime than historical movies

In [42]:
# show the runtime median and means of all genres

df1 = df.groupby('genre')['runtime'].median().round(1)
print(df1)
print('\n')

# Get the average of the runtime column
mean_runtime = df['runtime'].mean().round(1)
# Print the mean of all votes
print("Mean of all runtime:", mean_runtime)
print('\n')

# Get the average of the runtime
median_runtime = df['runtime'].median().round(1)
# Print the mean of all runtime
print("Median of all runtime:", median_runtime)

genre
Action          97.0
Adventure       90.0
Animation       24.0
Biography      105.5
Comedy          77.0
Crime           63.5
Documentary     80.0
Drama           91.5
Family          81.0
Fantasy         70.0
Film-Noir      110.0
Game-Show       41.5
History        118.0
Horror          92.0
Music           93.5
Musical         80.0
Mystery         90.5
News           156.5
Reality-TV      43.0
Romance         72.5
Sci-Fi          90.0
Short           17.0
Sport           65.0
TBC             78.5
Talk-Show       60.0
Thriller        96.0
War             18.0
Western         89.0
Name: runtime, dtype: float64


Mean of all runtime: 78.6


Median of all runtime: 82.0

#### There's a significant difference between the mean and median of all runtime. The median of all runtime also varies widely from the individual runtime by genre. Notice the 'short' genre has a median value of 17. Just imagine replacing the null values in the short genre category with the mean or median of all runtime. It would be really misleading

In [43]:
# replace the null values in runtime column with median by genre type
df['runtime'] = df.groupby('genre')['runtime'].transform(lambda x: x.fillna(x.median().round()))

## 8. Clean the gross column

In [44]:
# check the range of values in the runtime column

distinct_values = df['gross'].unique()
print(distinct_values)

df['gross'].dtypes

[nan '$75.47M' '$402.45M' '$89.22M' '$315.54M' '$57.01M' '$260.00M'
 '$132.38M' '$167.77M' '$404.52M' '$15.07M' '$70.10M' '$210.61M'
 '$327.48M' '$390.53M' '$303.00M' '$56.63M' '$58.06M' '$353.01M' '$46.89M'
 '$7.00M' '$377.85M' '$107.83M' '$403.71M' '$316.83M' '$100.55M' '$28.26M'
 '$188.76M' '$213.52M' '$226.01M' '$408.08M' '$10.06M' '$14.84M'
 '$168.05M' '$183.64M' '$342.55M' '$96.52M' '$140.22M' '$172.56M'
 '$56.95M' '$330.36M' '$17.80M' '$0.20M' '$56.82M' '$66.21M' '$75.61M'
 '$106.58M' '$5.02M' '$22.68M' '$102.92M' '$110.52M' '$504.01M' '$26.86M'
 '$2.00M' '$32.73M' '$33.80M' '$400.74M' '$19.02M' '$36.26M' '$6.67M'
 '$45.51M' '$75.66M' '$0.33M' '$4.00M' '$20.16M' '$95.86M' '$176.48M'
 '$126.66M' '$80.10M' '$42.34M' '$0.04M' '$4.71M' '$117.72M' '$229.09M'
 '$33.70M' '$97.69M' '$21.15M' '$27.85M' '$25.02M' '$100.92M' '$0.80M'
 '$31.15M' '$143.53M' '$61.74M' '$33.40M' '$24.45M' '$125.10M' '$12.79M'
 '$2.38M' '$136.19M' '$101.03M' '$187.17M' '$158.35M' '$0.01M' '$34.02M'
 '$57.23M' '$63.69M' '$5.20M' '$1.23M' '$10.21M' '$51.69M' '$123.48M'
 '$60.46M' '$112.72M' '$73.10M' '$0.18M' '$152.90M' '$52.42M' '$77.22M'
 '$54.76M' '$21.36M' '$44.82M' '$37.77M' '$486.30M' '$97.10M' '$18.34M'
 '$181.17M' '$58.88M' '$80.04M' '$38.32M' '$29.21M' '$11.11M' '$65.08M'
 '$67.63M' '$89.30M' '$61.43M' '$59.65M' '$3.22M' '$81.90M' '$30.00M'
 '$1.11M' '$18.64M' '$148.73M' '$156.65M' '$103.37M' '$35.66M' '$8.55M'
 '$167.51M' '$12.63M' '$41.73M' '$41.23M' '$145.79M' '$17.61M' '$1.36M'
 '$51.44M' '$25.13M' '$20.05M' '$36.67M' '$26.83M' '$35.59M' '$15.50M'
 '$18.47M' '$58.01M' '$78.75M' '$93.74M' '$10.38M' '$10.51M' '$368.06M'
 '$234.91M' '$18.60M' '$89.26M' '$11.33M' '$101.20M' '$57.74M' '$24.15M'
 '$33.41M' '$85.02M' '$21.30M' '$4.36M' '$16.17M' '$0.23M' '$94.90M'
 '$0.03M' '$40.44M' '$15.09M' '$21.22M' '$32.02M' '$0.02M' '$47.06M'
 '$214.03M' '$77.04M' '$15.43M' '$28.21M' '$0.50M' '$12.05M' '$2.06M'
 '$44.14M' '$35.09M' '$1.94M' '$27.67M' '$79.37M' '$39.18M' '$139.85M'
 '$88.92M' '$30.58M' '$0.12M' '$10.88M' '$65.33M' '$1.21M' '$54.77M'
 '$32.94M' '$5.78M' '$0.28M' '$42.87M' '$5.21M' '$4.40M' '$46.91M'
 '$0.08M' '$48.79M' '$15.54M' '$44.43M' '$57.39M' '$0.19M' '$19.70M'
 '$58.02M' '$66.53M' '$92.12M' '$64.94M' '$0.00M' '$6.74M' '$0.15M'
 '$42.40M' '$19.20M' '$35.07M' '$119.79M' '$27.15M' '$30.69M' '$2.24M'
 '$4.72M' '$90.29M' '$0.77M' '$0.51M' '$2.01M' '$14.90M' '$6.17M' '$1.00M'
 '$31.85M' '$37.66M' '$30.98M' '$5.88M' '$37.71M' '$219.61M' '$4.54M'
 '$7.15M' '$15.01M' '$0.14M' '$1.51M' '$1.60M' '$1.34M' '$0.70M' '$26.18M'
 '$1.16M' '$5.70M' '$10.64M' '$2.68M' '$0.45M' '$1.04M' '$7.92M' '$20.28M'
 '$0.05M' '$8.06M' '$1.25M' '$45.02M' '$1.52M' '$28.35M' '$36.45M'
 '$1.08M' '$1.33M' '$3.90M' '$6.12M' '$43.04M' '$0.44M' '$16.85M' '$5.66M'
 '$0.81M' '$0.34M' '$4.70M' '$11.55M' '$5.93M' '$11.37M' '$0.09M' '$3.09M'
 '$49.77M' '$19.99M' '$12.41M' '$4.83M' '$0.31M' '$43.55M' '$2.47M'
 '$0.48M' '$0.26M' '$6.11M' '$0.76M' '$0.06M' '$0.10M' '$0.30M' '$0.16M'
 '$0.83M' '$0.59M' '$16.00M' '$5.31M' '$11.96M' '$0.22M' '$0.54M' '$0.27M'
 '$0.11M' '$1.54M' '$3.03M' '$0.29M' '$1.01M' '$3.25M' '$0.41M' '$0.17M'
 '$0.62M' '$23.59M' '$25.58M' '$0.13M' '$0.87M' '$1.02M' '$0.56M' '$1.12M'
 '$0.85M' '$1.80M' '$0.21M' '$2.83M' '$32.24M' '$0.07M' '$0.24M' '$10.40M']

dtype('O')

The distinct values of the gross column are in object datatype because of the presence of the '$' and 'M' characters.

#### We'll need to remove these characters and convert them to integer datatype while multiplying it by 1,000,000 to illustrate the million. Then we'll change the gross column name to 'gross in dollars' so that one can know that it's measured in dollars

In [45]:
if df['gross'].dtype == object:
    # Remove '$' and 'M' characters, convert to float
    df['gross'] = df['gross'].str.replace('$', '').str.replace('M', '').astype(float)

# Multiply by 1,000,000 to convert to millions
df['gross'] = df['gross'] * 1000000

C:\Users\USER\AppData\Local\Temp\ipykernel_848\2753559313.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['gross'] = df['gross'].str.replace('$', '').str.replace('M', '').astype(float)

#### Great! Now let's handle the null values

In [46]:
# Count the number of null values in the gross column
null_gross_count = df['gross'].isnull().sum()
# Print the count of null values
print("Number of null values in 'gross' column:", null_gross_count)

Number of null values in 'gross' column: 5823

#### The null values are soooo much so dropping them is not even an option so we'll be replacing them with the median gross by genre

In [47]:
# show the gross median and means of all genres

df1 = df.groupby('genre')['gross'].median().round(1)
print(df1)
print('\n')

# Get the average of the runtime column
mean_gross = df['gross'].mean().round(1)
# Print the mean of all votes
print("Mean of all gross:", mean_gross)
print('\n')

# Get the average of the runtime
median_gross = df['gross'].median().round(1)
# Print the mean of all runtime
print("Median of all gross:", median_gross)

genre
Action          33320000.0
Adventure       44820000.0
Animation       10715000.0
Biography        7000000.0
Comedy            855000.0
Crime             675000.0
Documentary       120000.0
Drama            1360000.0
Family         254005000.0
Fantasy         37660000.0
Film-Noir              NaN
Game-Show              NaN
History                NaN
Horror           1210000.0
Music                  NaN
Musical        188760000.0
Mystery          1040000.0
News                   NaN
Reality-TV             NaN
Romance                NaN
Sci-Fi                 NaN
Short                  NaN
Sport                  NaN
TBC                    NaN
Talk-Show              NaN
Thriller        43550000.0
War                    NaN
Western                NaN
Name: gross, dtype: float64


Mean of all gross: 43911393.8


Median of all gross: 6420000.0

#### The mean and median of all gross are so so widely apart. Well it was expected because some movies will definitely make more money than the other. This is why we should keep using median and not the means. Unfortunately, some movie genres don't have any median gross revenue. You'll notice some of these genres are popular so replacing the null values with '0' won't cut it. Hence, we'll be replacing the null values for cases like these with the median of all gross.

In [48]:
# replace the null values in gross column with the available median by genre type
df['gross'] = df.groupby('genre')['gross'].transform(lambda x: x.fillna(x.median().round()))

C:\Python39\lib\site-packages\numpy\lib\nanfunctions.py:1215: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
C:\Python39\lib\site-packages\numpy\lib\nanfunctions.py:1215: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
C:\Python39\lib\site-packages\numpy\lib\nanfunctions.py:1215: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
C:\Python39\lib\site-packages\numpy\lib\nanfunctions.py:1215: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
C:\Python39\lib\site-packages\numpy\lib\nanfunctions.py:1215: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
C:\Python39\lib\site-packages\numpy\lib\nanfunctions.py:1215: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
C:\Python39\lib\site-packages\numpy\lib\nanfunctions.py:1215: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
C:\Python39\lib\site-packages\numpy\lib\nanfunctions.py:1215: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
C:\Python39\lib\site-packages\numpy\lib\nanfunctions.py:1215: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
C:\Python39\lib\site-packages\numpy\lib\nanfunctions.py:1215: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
C:\Python39\lib\site-packages\numpy\lib\nanfunctions.py:1215: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
C:\Python39\lib\site-packages\numpy\lib\nanfunctions.py:1215: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
C:\Python39\lib\site-packages\numpy\lib\nanfunctions.py:1215: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
C:\Python39\lib\site-packages\numpy\lib\nanfunctions.py:1215: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)

In [49]:
# replace the remaining null values with the median of all genre
df['gross'] = df['gross'].fillna(df['gross'].median().round())

#### Let's rename the column name to 'gross_in_dollars'

In [50]:
# Rename a single column
df.rename(columns={'gross': 'gross_in_dollars'}, inplace=True)

### Let's rearrange the order of the columns

In [52]:
# Define the desired column order
column_order = ['movies', 'genre', 'release_year_start', 'release_year_end', 'rating', 'one-line', 'director', 'stars', \
                'votes', 'runtime', 'gross_in_dollars']

# Rearrange the columns in the dataset
df = df[column_order]

#### Now let's take a view at our data decription

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6275 entries, 0 to 9996
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   movies              6275 non-null   object
 1   genre               6275 non-null   object
 2   release_year_start  6275 non-null   object
 3   release_year_end    6275 non-null   object
 4   rating              6275 non-null   float64
 5   one-line            6275 non-null   object
 6   director            6275 non-null   object
 7   stars               6275 non-null   object
 8   votes               6275 non-null   Int64
 9   runtime             6275 non-null   float64
 10  gross_in_dollars    6275 non-null   float64
dtypes: Int64(1), float64(3), object(7)
memory usage: 594.4+ KB

### Let's write it to csv file

In [54]:
df.to_csv('clean_movies_data.csv', index=False)

## Important Note:

#### We would have handled the outliers but we didn't know the purpose of this dataset. If it is for the purpose of statistical analysis, then it would be important to handle outliers. However, if it is for the purpose of building a dashboard, then handling outliers could created misleading metric figures. 

#### Because we were not sure of the purpose of the dataset, we decided to not handle the outliers so as to preserve the integrity of the data